*{
    background-color: #d9b08c;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
    background-image: linear-gradient(to right, #116466 , #2c3531); 
    color: #d1e8e2
}

#user_area{
    display: flex;
    height:800px;
    width: 100%;
}
.label, #api_0, #api_1, #api_2{
    background-color: #ffcb9a;
}
#address_and_message_area{
    flex-direction: column;
    display: flex;
    width: 85%;
    height: 100%;
    background-image: linear-gradient(to right, #116466 , #2c3531); 
} 
#address_area{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 30%;
    padding: 30px;
    background-image: linear-gradient(to right, #116466 , #2c3531); 

}
#address{
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    background-color: #d1e8e2;
}
#subject{
    height: 30px;
    margin: 10px;
    padding: 5px;
    background-color: #d1e8e2;
    border-style: solid;
}
#message{
    width: 90%;
    height: 50%;
    margin: 30px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    overflow-y:scroll;
    background-color: #d1e8e2;
}
.footer{
    width: 90%;
    height: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size:x-small;
    background-color: #d1e8e2;

}
#footer_1{
    margin-bottom: 30px;
}
#api_send_column{
    flex-direction: column;
    display: flex;
    width: 15%;
    background-image: linear-gradient(to left, #116466 , #2c3531);   
}
#api_selection{
    flex-direction: column;
    display: flex;
    width: 100%;  
    padding-bottom: 10px;  
    background-image: linear-gradient(to left, #116466 , #2c3531);
}
.api_selector{
    margin: 20px;
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
}
#send_area{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to left, #116466 , #2c3531);}
#send_button{
    height: 30px;
    width: 100px;
    margin-top: 40px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;      
    background-color: #ffcb9a;
}
