header {
  text-align: center;
}

#column-head {
  text-align: right;
  padding-right: 15px;
  font-size: 20px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}
  
.flex-container > div {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.hour {
  flex-basis: 10%;
  min-width: 100px;
  border-top: solid;
  border-top-color: gray;
  border-right: solid;
  border-right-color: gray;
}

.task {
  flex-grow: 8;
  border-top: solid;
  border-top-color: white;
  border-left: solid;
  border-left-color: gray; 
}

.task:hover {
  background-color: white;  
}

.lock {
  background-color: dodgerblue;
  flex-grow: 1;
  border-top-width: .5px;
  border-top: solid;
  border-top-color: white;
  border-right-width: 1px;
  border-right: solid;
  border-right-color: white;
  border-bottom-width: .5px;
  border-bottom: solid;
  border-bottom-color: lightblue;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
